* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    overflow: hidden;
}

html, body {
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    overflow-y: scroll;
    min-width: 800px;
    width: 100%;
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}

section {
    max-width: 600px;
    min-height: 90%;
    margin: auto;
}

h1, h2 {
    font-weight: bold;
    font-size: 38px;
    word-wrap: break-word;
}

article {
    position: relative;
    line-height: 30px;
    font-size: 22px;
    display: block;
    word-wrap: break-word;
}

blockquote {
    border-left: 4px solid deepskyblue;
    margin-left: -19px;
    padding-left: 15px;
    margin-right: 0;
}

footer {
    height: 90%;
}

.author {
    position: absolute;
    right: 105%;
    min-width: max-content;
    font: sans-serif;
}

/*  */

.yin {
    background: #fdfdfd;
    color: #111;
}

.yang {
    background-color: #111;
    color: #fafafa;
}

/* Discord styling */

.quote>.title {
    display: none;
}

@media print {
    body {
        overflow: visible;
    }
    section {
        color: #111 !important;
    }
}

/* Animations */

.lds-dual-ring {
    /*display: block;*/
    width: 80px;
    height: 80px;
    margin: auto;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}